.hero{
    background: var(--bg-gradiente);
    width: 100%;
    height: 100vh;
    color: var(--text-main);
}

.hero__container{
    /* OVERLAY */
    background-image: linear-gradient(90deg, rgba(55, 48, 55, 0.7), rgba(11, 216, 18, 0.7), rgba(11, 49, 216, 0.7)), url("../img/img-01-fundo-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: space-around;
}

.hero__title{
    font-size: var(--titulo-main);
    text-align: center;
}

.hero__text{
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
}

.hero__btn{
    width: 10%;
    height: 8%;
    display: inline-block;
    margin: 0 auto;
    border: 2px solid var(--text-main);
    text-align: center;
}

/*PSEUDO CLASSE*/
.hero__btn:hover{
    background-color:#1763a5;
    color: #fff;
}